#cabecera {
    text-align: center
}
#titulo {
    margin: 15px 0 0 0;
}

#menu {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 10vh;
    vertical-align: -webkit-baseline-middle
}

.botonesMenu {
    text-decoration: none;
    background-color: #EAEAEA;
    padding: 10px 4%;
    border-bottom: 2px solid rgb(117, 85, 85);
    color: black
}
.botonesMenu:hover {
    background-color: #BABABA;
}

#footer {
    background: #12223d;
    padding: 5px 0;
    color: white;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%
}
