#cabecera {
    text-align: center
}
#titulo {
    margin: 15px 0 0 0;
}

#titulo:hover {
    color: rgb(92, 92, 92)
}

.titulo {
    text-decoration: none;
    color: black
}

#menu {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    height: 10vh;
}

.botonesMenu {
    text-decoration: none;
    background-color: #EAEAEA;
    padding: 10px 4%;
    border-bottom: 2px solid rgb(85, 113, 117);
    color: black
}
.botonesMenu:hover {
    background-color: #BABABA;
}
.botonesMenu:active {
    background-color: #EAEAEA
}

@media (min-width: 1000px) {
    #footer {
        background: #12223d;
        padding: 5px 0;
        color: white;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        width: 100%
    }
}

@media (max-width: 999px) {
    #footer {
        background: #12223d;
        padding: 5px 0;
        color: white;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1601px) {
    #footerB {
        background: #12223d;
        padding: 5px 0;
        color: white;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        width: 100%
    }

}


@media (max-width: 1600px)
{
    #footerB {
        background: #12223d;
        padding: 5px 0;
        color: white;
        display: flex;
        justify-content: space-between;
    }
    
}

#footerC {
    background: #12223d;
    padding: 5px 0;
    color: white;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%
}