body {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    margin: 0;
}
.degradado {
    padding: 15px 0 0 0;
    background: -webkit-linear-gradient(#72e4e2, white); /* Para Safari 5.1 al 6.0 */
    background: -o-linear-gradient(#72e4e2, white); /* Para Opera 11.1 al 12.0 */
    background: -moz-linear-gradient(#72e4e2, white); /* Para Firefox 3.6 al 15 */
    background: linear-gradient(#72e4e2, white); /* Normal */
}

@media (max-width: 1300px) {
    #menu {
        display: none
    }

    .subtitulo2 {
        color: rgb(10, 77, 75);
        padding: 20px 0 5px 0;
        margin: 0
    }

}

.titulo {
    margin: 0
}

.subtitulo {
    color: #0a4d4b;
    margin: 0;
    text-align: center
}

.subtitulo2 {
    color: #0a4d4b;
    margin: 4% 0 5px 0;
}


.caja {
    box-shadow: 1px 2px 1px 2px #c0cbcc
}

.contenido {
    width: 80%;
    margin: 0 auto;
    padding: 15px 20px;
}

.bloqueFooter {
    width: 100%;
    text-align: center
}
