body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.subtitulo {
    color: crimson;
    margin: 0;
    text-align: center
}


.caja {
    box-shadow: 1px 2px 1px 2px #eaeaea
}

.contenido {
    width: 80%;
    margin: 0 auto;
    padding: 10px 50px;
}
